.container {
    margin: 1.5em;
    width: 350px;
    height: 650px;
    max-width: 400px;
    max-height: 700px;
    border: 3px solid #2271D1; /* Cor da borda */
    border-radius: 15px;
    overflow: auto;
    background-color: #121212; /* Fundo escuro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: white black; /* Cores para Firefox */
}

.container:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

.descricao {
    max-height: 100px; /* Defina o limite de altura */
    overflow: auto; /* Habilita a rolagem se o texto exceder o limite */
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: white black; /* Cores para Firefox */
}

.descricao::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.descricao::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

.descricao::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.capa {
    width: 100%;
    max-height: 400px;
    object-fit: inherit;
}

span {
    margin-bottom: 10px;
    padding: 0.4em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 0.8em;
    color: white;
}

h2 {
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

p {
    color: white;
    margin: 15px;
    text-align: left;
}